* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
.centraliza-secao {
    width: 70%;
    margin: 0px auto;
    padding: 5px;
}

.centraliza-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
}

.topo {
    width: 100%;
    background-color: #f1f3f7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.logo img {
    width: 80px;
    margin-left: 25px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.menu a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
}

.banner {
    background-image: url('./assets/banner.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    padding: 7px;
    background-color: #f1f3f7;
    color: #000000;
    width: 220px;
    height: 60px;
    margin: 0px auto;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

.sobre-nos {
    background-color: #f1f3f7;
    text-align: center;
}

.sobre-nos h2 {
    margin-top: 50px;
    font-weight: 600;
}

.sobre-nos p {
    margin-top: 20px;
    margin-bottom: 50px;
}

.galeria {
    background-color: #fff;
    text-align: center;
}

.galeria h2 {
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    margin: 50px auto;
}

.cards img {
    width: 350px;
    height: 250px;
    margin: 10px;
    box-shadow: 10px 10px 10px #939393;
}

.agenda {
    background-color: #000000;
    color: #f1f3f7;
    text-align: center;
}

.agenda h2 {
    font-weight: 600;
    margin-top: 50px;
}

.lista {
    margin-top: 100px;
    margin-bottom: 50px;
}

.lista ul {
    margin-top: 100px auto;
    height: 450px;
}

.lista li {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    text-align: left;
}

.lista span, .lista p {
    width: 210px;
}

.lista div {
    width: 48%;
    height: 1px;
    background-color: #f1f3f7;
}

.lista h3 {
    font-weight: 600;
    width: 100px;
}

.lista span {
    font-weight: bold;
    color: #c4a47c;
}

.localizacao {
    background-color: #f1f3f7;
    text-align: center;
    color: #000000;
}

.localizacao h2 {
    font-weight: 600;
    margin-top: 50px;
}

.localizacao iframe {
    margin-top: 50px;
}

.contatos {
    margin-top: 10px;
}

.rodape {
    background-color: #000000;
    color: #f1f3f7;
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyright {
    padding-top: 25px;
}

.copyright span {
    font-weight: 600;
    color: #c4a47c;
}

.social-media {
    width: 200px;
    height: 50px;
}

.social-media img {
    width: 45px;
    padding: 10px;
}

@media screen and (max-width: 1300px) {
    .lista div{
        width: 40%;
    }
}

@media screen and (max-width: 1150px) {
    .lista div{
        width: 30%;
    }
}

@media screen and (max-width: 985px) {
    .lista h3 {
        width: 80px;
        font-size: 15px;
    }
    
    .lista div{
        width: 30%;
    }
}

@media screen and (max-width: 940px) {
    .sobre-nos p {
        margin-top: 50px;
        font-size: 12px;
    }

    .galeria h2 {
        text-align: center;
    }
    
    .lista h3 {
        width: 60px;
        font-size: 12px;
    }

    .lista span, .lista p {
        font-size: 12px;
        text-align: left;
        width: 160px;
    }
    
    .lista div{
        width: 30%;
    }
}

@media screen and (max-width: 780px) {
    .centraliza-topo {
        flex-direction: column;
    }

    .banner {
        background-size: 150%;
        height: 500px;
    }

    .localizacao iframe {
        height: 300px;
    }
}

@media screen and (max-width: 720px) {
    .lista div{
        width: 30%;
    }

    .logo img{
        margin-left: 0%;
    }

    .menu {
        width: 100%;
        justify-content: space-evenly;
    }

    .menu a {
        margin-left: 0px;
    }
}

@media screen and (max-width: 695px) {
    .lista li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .lista p, .lista span {
        text-align: center;
    }

    .lista div {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    .banner {
        background-size: cover;
    }

    .localizacao p {
        font-size: 12px;
    }
}

@media screen and (max-width: 490px) {
    .localizacao iframe {
        height: 200px;
    }
}